/.vs
/internal_logs
/logs
/Bugz.Server.API/obj
/Bugz.Server.API/bin
/Bugz.Server.API/nlog.config
/Bugz.Server.API/Migrations
/Contracts/obj
/Contracts/bin
/LoggerService/obj
/LoggerService/bin
/Entities/obj
/Entities/bin
/Repository/obj
/Repository/bin